:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#roots{
  padding: 0px;
  place-items: center;
  position: relative;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0px;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.bg-red {
  background-color: #DC3545;
}
.bg-black {
  background-color: #332d2d;
}
.bg-blue{
  background-color: #3b71cb;
}
.bg-yellow{
  background-color: #e4a11c;
}
.bg-green{
  background-color: #14a44d;
}
.bg-gains{
  background-color: gainsboro;
}




.white-text{
  color: white;
}

.margy{
  margin: 0px 40px;
}

.link{
  text-decoration: none;
  color: white;
}

.product-card {
  margin-bottom: 40px;
  background-color: white; 
  border: 1px solid rgb(240, 240, 240); 
  border-radius: 8px; 
  overflow: hidden; 
  display: flex; 
  flex-direction: column; 
  width: 350px;
}
.product-title{
  text-decoration: none;
  height: 40px; 
  text-align: center; 
  font-size: x-large;
  color: rgb(0, 0, 0);
  transition-duration: 0.4s;
}
.product-title:hover {
  color: grey;
  transition-duration: 0.4s;
}

.gainsboro{
  background-color: gainsboro;
}
.gainsboro-light{
  background-color: rgb(240, 240, 240);
}

.m0 {
  margin: 0px;
}

.black-box {
  background-color: black;
  position:absolute;
  bottom: 0px;
  width: 100%;
  height: 100px;

}

.space-block-for-footer{
  padding-bottom: 150px;
}


.footer-details {
  width: 400px;
  margin: auto;
}

.white {
  text-decoration: none;
  color: white;
}

.flx-r{
  display: flex;
  flex-direction: row;
}

.flx-c{
  display: flex;
  flex-direction: column;
}

.just-se{
  justify-content: space-evenly;
}
.just-ce{
  justify-content: center;
}
.just-sb{
  justify-content: space-between;
}

.flx1{
  flex: 1;
}
.flx2{
  flex: 2;
}
.flx3{
  flex: 3;
}
.flx4{
  flex: 4;
}
.flx5{
  flex: 5;
}
.small{
  font-size: small;
}
.medium{
  font-size: medium;
}
.large{
  font-size: large;
}
.x-large{
  font-size: x-large;
}
.xx-large{
  font-size: xx-large;
}
.xxx-large{
  font-size: 96px;
}

.center{
  display: block;
  margin:auto;
}

.center-text{
  text-align: center;
}
.right-text{
  text-align: right;
}
.right{
  float: right;
}
.padx0{
  padding-left: 0px;
  padding-right: 0px;
}
.pad0{
  padding: 0px;
}
.pad8{
  padding: 8px;
}
.pad28{
  padding: 28px;
}

.page-container{
  position: relative;
  min-height: 100vh;
}
.navbar{
  height: 28px;
}

.page-contain{
  position: relative;
  min-height: 100vh;
}

#round{
  border-radius: 10px;
  border: 1px solid gainsboro;
  transition-duration: 0.4s;
}
#round:hover{
  opacity: 0.75;
  transition-duration: 0.4s;
}

#ind-round{
  border: 1px solid gainsboro;
  width: 45%;
  height: 50px;
}

.bg-color{
  background-color: beige;
}
.bg-color2{
  background-color: azure;
}
.b-border{
  border: 1px solid black;
}
.g-border{
  border: 1px solid grey;
}

.bborder{
  border: 1px solid black;
  width: 80%;
  margin: auto;
}

.price-box{
  background-color: black;
  border-radius: 12px;
  width: 91%;
  margin: auto;
}

.ind-card{
  width: 60%;

  border: 2px solid grey;
  border-radius: 8px;
  margin: auto;
  margin-top: 50px;
  background-color: white;
}

.ind-img{
  height: 400px;
  display: block;
  margin: auto;
}
.cart-img{
  height: 200px;
  display: block;
  margin: auto;
}

.row{
  width: 100%;
}

.signup-box{
  background-color: white;
  width: 700px;
  height: 400px;
  margin: auto;
  border: 1px solid grey;
  border-radius: 16px;
}

.signin-box{
  background-color: white;
  width: 700px;
  height: 280px;
  margin: auto;
  border: 1px solid grey;
  border-radius: 16px;
}

#center{
  display: block;
  margin: auto;
}
#register-btn{
  display: block;
  margin: auto;
  width: 40%;
}

.form-box{
  width: 80%;
  margin: auto;
}

.sign-in{
  display: block;
  margin: auto;
}

#un, #pw, #cpw{
  width: 93%;
}

#logout{
  color: rgb(195, 195, 195);
  transition-duration: 0.4s;
}
#logout:hover{
  color: grey;
  transition-duration: 0.4s;
}

.pg-no{
  margin: 0px 10px;
}

.pink{
  background-color: lightpink;
}
.blue{
  background-color: lightblue;
}
.bisque{
  background-color: bisque;
}
.soft-gray{
  background-color: rgb(240, 240, 240);
}
.softer-gray{
  background-color: rgb(245, 245, 245);
}

.cart-card{
  width: 60%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  overflow: hidden;
  background-color: rgb(240, 240, 240);
  transition-duration: 0.4s;
}
.card-card:hover{
  background-color: red;
  transition-duration: 0.4s;
}

#increment, #decrement{
  width: 40px;
}
.num-items{
  display: inline-block;
  background-color: gainsboro;
  width: 40px;
  height: 30px;
  margin: 0px;
}
.border-top{
  border-top: 1px solid gainsboro;
}

.img-column{
  height: 250px;
}
.info-col{
  height: 30px; 
  text-align: center;
}
.m-1{
  margin: 5px;
}
.m-2{
  margin: 10px;
}
.mb-0{
  margin-bottom: 0px;
}
.mb-1{
  margin-bottom: 5px;
}
.mb-2{
  margin-bottom: 10px;
}
.mb-3{
  margin-bottom: 15px;
}
.mb-10{
  margin-bottom: 10px;
}
.mt-1{
  margin-top: 5px;
}
.mt-2{
  margin-top: 10px;
}
.mt-3{
  margin-top: 15px;
}
.my-0{
  margin-top: 0px;
  margin-bottom: 0px;
}

.my-1{
  margin-top: 5px;
  margin-bottom: 5px;
}
.my-2{
  margin-top: 10px;
  margin-bottom: 10px;
}
.my-3{
  margin-top: 15px;
  margin-bottom: 15px;
}
.mx-1{
  margin-right: 5px;
  margin-left: 5px;
}
.mx-2{
  margin-right: 10px;
  margin-left: 10px;
}
.mx-3{
  margin-right: 15px;
  margin-left: 15px;
}
.mx-4{
  margin-right: 20px;
  margin-left: 20px;
}
.mx-5{
  margin-right: 25px;
  margin-left: 25px;
}
.last-col{
  margin-bottom: 20px; 
  height: 40px; 
  text-align: center;
}
.product-img{
  max-height: 250px;
  display:block;
  margin:auto;
  cursor: pointer;
  transition-duration: 0.4s;
}
.product-img:hover{
  opacity: 0.75;
  transition-duration: 0.4s;
}

.reg-div{
  height: 400px;
}
.form-input{
  border: 2px solid rgb(210, 210, 210);
  font-size: medium;
  padding-left: 6px;
  border-radius: 8px;
  height: 30px;
  transition-duration: 0.4s;
}
.form-input:hover{
  box-shadow: 0 0 8px rgba(140, 197, 243, 0.5);
  transition-duration: 0.2s;
}
.dark-btn{
  background-color: #332d2d;
  width: 350px;
  color: white;
  transition-duration: 0.4s;
}
.dark-btn:hover{
  cursor: pointer;
  background-color: rgb(35, 35, 35);
  transition-duration: 0.4s;
}
.yell-btn{
  background-color: #FFC107;
  transition-duration: 0.4s;
  max-height: 50px;
  min-width: 140px;
}
.yell-btn:hover{
  background-color: #d6a40d;
  transition-duration: 0.4s;
  max-height: 50px;
  min-width: 140px;
}
.red-btn{
  background-color: #DC3545;
  color: white;
  transition-duration: 0.4s;
  max-height: 50px;
  min-width: 140px;
}
.red-btn:hover{
  cursor: pointer;
  background-color: #a52b37;
  transition-duration: 0.4s;
}
.white-btn{
  background-color: #ffffff;
  width: 350px;
  color: #332d2d;
  transition-duration: 0.4s;
}
.white-btn:hover{
  cursor: pointer;
  background-color: rgb(229, 229, 229);
  transition-duration: 0.4s;
}
.uline{
  text-decoration: underline;
}
.opa-btn{
  transition-duration: 0.4s;
}
.opa-btn:hover{
  opacity: 0.5;
  transition-duration: 0.4s;
}
.inc-dec{
  width: 150px;
}